h1 { font-family: "Franklin Gothic"; font-size: 32px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 51.2px; } 
h3 { font-family: "Franklin Gothic"; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } 
p { font-family: "Franklin Gothic"; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } 
blockquote { font-family: "Franklin Gothic"; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } 
pre { font-family: "Franklin Gothic"; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px; }
body{
 background: url('modular-system.jpg' repeat-y scroll center top cover;
}
.page{
  margin: 0 auto;
  max-width: 480px;
  width: 100%;
}
a.home{
  display: block;
}
.page a{
  color: blue;
  text-decoration: none;
}
.page a:hover{
  text-decoration: underline;
}
.event{
  display: block;
  margin-bottom: 20px;
  color: black;
  border: 1px solid black;
  background-color: rgba(255,255,255,0.7);
}
.page img{
  display: block;
  width: 100%;
  height: auto;
}
.page img.logo{
  width: 50%;
  margin-left: 25%;
}
.home-page img.logo{
  width: 100%; 
  margin-left: 0;
}
#mc_embed_signup{
  width: 100% !important;  
}
#mc_embed_signup form{
 padding: 0 !important; 
}
#mc_embed_signup .brandingLogo,
#mc_embed_signup .indicates-required,
#mc_embed_signup .asterisk{
 display: none !important; 
}
#mc_embed_signup .mc-field-group label{
 margim-bottom: 10px !important; 
}
#mc_embed_signup .mc-field-group{
 width: 100% !important; 
}
