body{ font-family: "Franklin Gothic"; font-style: normal; font-variant: normal; }
h1 { font-size: 32px; font-weight: 400; line-height: 51px; } 
h3 { font-size: 23px; font-weight: 500; line-height: 33px; } 
h3 { font-size: 14px; font-weight: 700; line-height: 15px; } 
p { font-size: 14px; font-weight: 400; line-height: 20px; } 
blockquote { font-size: 23px; font-weight: 500; line-height: 33px; } 
pre { font-size: 13px; font-weight: 400; line-height: 18px; }
/*
body{
 background: white url("modular-system.jpg") repeat-y scroll center top;
}*/
.page{
  margin: 0 auto;
  max-width: 480px;
  width: 100%;
}
.index-page{
  max-width: 568px;
}
.page a{
  color: blue;
  text-decoration: none;
}
.open-event{
  display: block;
  text-align: center;
  width: 100%;
  height: 32px;
  line-height: 32px;
}
.page a:hover{
  text-decoration: underline;
}
.event{
  display: block;
  margin-bottom: 20px;
  color: black;
  border: 1px solid black;
  background-color: rgba(255,255,255,0.7);
}
.page img{
  display: block;
  width: 100%;
  height: auto;
}
.page img.logo{
  width: 50%;
  margin-left: 25%;
}
.index-page{
  position: relative;
}
.index-page img.logo{
  width: 100%; 
  margin-left: 0;
  margin-top: -120px;
  position: relative;
  z-index: 1;
}
.page a.home-link,
.page a.enter-link{
  text-decoration: underline;
  color: blue;
  text-align: center;
  display: block;
  width: 100%;
  height: 50px;
  line-height: 50px;
}
.page a.enter-link{
  position: absolute;
  z-index: 100;
  top: 120px;
}
#mc_embed_signup{
  width: 100% !important;  
}
#mc_embed_signup form{
 padding: 0 !important; 
}
#mc_embed_signup .brandingLogo,
#mc_embed_signup .indicates-required,
#mc_embed_signup .asterisk{
 display: none !important; 
}
#mc_embed_signup .mc-field-group label{
 margim-bottom: 10px !important; 
}
#mc_embed_signup .mc-field-group{
 width: 100% !important; 
}
